body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0 50px;
}
.header {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    padding: 80px;
    padding-top: 0;
}
.header-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 40px;
}
.header-logo {
    color: #F9FAF8;
    font-size: 24px;
}
.header-links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 25px;
    font-size: 18px;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: #F9FAF8;
}
.header-lower {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 0;
    gap: 36px;
}
.header-content {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.hero-main {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;

}
.hero-second {
    font-size: 18px;
    color: #E5E7EB;
}
.signup {  /* Sign up button */
    padding: 5px 15px;
    background-color: #3882F6;
    border-radius: 5px;
    color: #E5E7EB;
}
.header-lower .signup {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-self: flex-start;
}
.header-content .signup {
    border: none;
}
.header-lower img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: auto;
    border-radius: 10px;
}
.info {
    display: flex;
    flex-direction: column;
    padding: 80px;
    align-items: center;
}
.info-header {
   font-size: 36px;
   font-weight: 900;
   color: #1F2937;
   padding-bottom: 20px;
}
.cards {
    display: flex;
    flex: 1;
    flex-direction: row;
    gap: 45px;
    align-items: center;
}
.card1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.cards img {
    border-style: solid;
    border-width: 3px;
    border-radius: 15px;
    border-color: #1F2937;
}
.card-text {
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
}
.card2 {
    display: flex;
    flex-direction: column;
}
.card3 {
    display: flex;
    flex-direction: column;
}
.card4 {
    display: flex;
    flex-direction: column;
}
.quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 80px;
    background-color: #E5E7EB;
}
.quote-content {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1F2937;
}
.quote-author {
    display: flex;
    font-size: 32px;
    justify-content: flex-end;
    font-style: bold;
}

.call {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px;
}
.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #3882F6;
    padding: 25px 45px;
    border-radius: 10px;
}
.call-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-right: 30px;
    color: #F9FAF8;
}
.call-bold {
    font-size: 18px;
    font-weight: bold;
}
.call-content {
    font-size: 18px;
}
.container .signup { /*button*/
    border: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: #E5E7EB;

}
.footer {
    display: flex;
    background-color: #1F2937;
    justify-content: center;
    align-items: center;
    color: #F9FAF8;
    padding: 20px;
}